 <!-- Page Footer-->
 <footer class="main-footer">
    <div class="container">
      <div class="row">
        <div class="col">
          <div class="logo">
            <h5 class="text-white">Avele</h5>
          </div>
          <div class="menus d-flex">
            <ul class="list-unstyled">
              <li> <a href="{% url 'store' %}">Shop</a></li>
              <li> <a href="{% url 'blog' %}">Blog</a></li>
              <li> <a href="{% url 'contact' %}">Contact</a></li>
            </ul>
          </div>
        </div>
        <div class="col">
          <div class="contact-details">
            <p>Email: <a href="mailto:avelefitness@gmail.com">avelefitness@gmail.com</a></p>
            <ul class="social-menu">
              <li class="list-inline-item"><a href="#"><i class="fa fa-facebook"></i></a></li>
              <li class="list-inline-item"><a href="#"><i class="fa fa-twitter"></i></a></li>
              <li class="list-inline-item"><a href="https://www.instagram.com/avelefitness/"><i class="fa fa-instagram"></i></a></li>
            </ul>
          </div>
          
        </div>
      </div>
    </div>
    <div class="copyrights">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <p>&copy; 2021. All rights reserved. Avele</p>
          </div>
          <div class="col-md-6 text-right">
            
          </div>
        </div>
      </div>
    </div>
  </footer>