{% extends 'base.html' %}

{% load static %}

{% block content %}

<div class="container">
  <br>
  <div class="container">
      <h4 class="text-center">Contact Us</h4>
  </div>
  <!-- Alerts -->
  {% include 'partials/_alerts.html' %}
  <br/>
    <form action="{% url 'contact' %}" method="POST" class="commenting-form">
        {% csrf_token %}
      <div class="row">
        <div class="form-group col-md-6">
          <input type="text" name="name" id="name" placeholder="Name" class="form-control">
        </div>
        <div class="form-group col-md-6">
          <input type="email" name="email" id="email" placeholder="Email Address (We'll never share your email)" class="form-control">
        </div>
        <div class="form-group col-md-12">
          <textarea name="inquiry" id="inquiry" placeholder="Type your inquiry" class="form-control"></textarea>
        </div>
        <div class="form-group col-md-12">
          <button type="submit" class="btn btn-secondary">Submit</button>
        </div>
      </div>
    </form>
</div>
{% endblock %}