{% extends 'base.html' %}

{% load static %}

{% load humanize %}

{% block content %}

<!-- Hero Section-->
  <section style="background: url({% static 'img/bg1.jpg' %}); background-size: cover; background-position: center" class="hero">
    <div class="container">
      <div>
        <div>
          <h1 class='text-center'>Avele</h1>
          <h6 class='text-center'> Get it done today</h6>
        </div>
      </div><a href=".intro" class="continue link-scroll"><i class="fa fa-long-arrow-down"></i> Scroll Down</a>
    </div>
  </section>
  <!-- Intro Section-->
  <section class="intro">
    <div class="container">
      <div class="row">
        <div class="col-lg-8">

          <p class="text-big"> As<strong> Avele</strong> we aim to help you appreciate your body and let it speak for you.
          Availing yourself is enough and that counts. Take the step towards becoming the <strong>best you've ever been.</strong> Be part of the team, be an <strong>Avelete.</strong> </p>
        </div>
      </div>
    </div>
  </section>

  <!-- Latest Posts -->
  <section class="latest-posts"> 
    <div class="container">
      <header> 
        <h2 class='text-center'>Latest from the blog</h2>
      </header>
      <div class="row">
        {% if blog %}
          {% for blogpost in blog %}
            
              <div class="post col-md-4">
                <div class="post-thumbnail"><a href="{% url 'blogpost' blogpost.id %}"><img src="{{ blogpost.photo_main.url }}" alt="..." class="img-fluid"></a></div>
                <div class="post-details">
                  <div class="post-meta d-flex justify-content-between">
                   <div></div>
                    <div class="category"><a href="#">{{ blogpost.category }}</a></div>
                  </div><a href="{% url 'blogpost' blogpost.id %}">
                    <h3 class="h4">{{ blogpost.title }}</h3></a>
                  <p class="text-muted">{{blogpost.article|truncatewords:20|safe}} <a class="h6" href="{% url 'blogpost' blogpost.id %}">Read More</a></p>
                </div>
              </div>
            
          {% endfor %}
        {% else %}
          <div class="col-md-12">
            <p>New Posts Should Be Up Soon.</p>
          </div>
        {% endif %}
      </div>  
    </div>
  </section>

  <!-- Divider Section-->
  <section style="background: url({% static 'img/run.jpg' %}); background-size: cover; background-position: bottom" class="divider">
    <div class="container">
      <div class="row">
        <div class="col-md-7">
          <h2>If you want something you’ve never had, you must be willing to do something you’ve never done</h2>
        </div>
      </div>
    </div>
  </section>

  <!-- Shop -->
  <section class="latest-posts"> 
    <div class="container">
      <header> 
        <h1 class='text-center' >Shop</h1>
      </header>
      <div class="card-deck">
        <div class="card">
          <a href="{% url 'store' %}">
          <img class="card-img-top" src="{% static '/img/orange.jpg' %}" alt="Card image cap"> 
          </a>  
        </div>
        <div class="card">
          <a href="{% url 'store' %}">
          <img class="card-img-top" src="{% static '/img/orange.jpg' %}" alt="Card image cap">
          </a>
        </div>
        <div class="card">
          <a href="{% url 'store' %}">
          <img class="card-img-top" src="{% static '/img/orange.jpg' %}" alt="Card image cap" >
          </a>
        </div>
      </div>
      <div class='text-center'>
        <a href="{% url 'store' %}">
          <br/>
        <button type="button" class="btn btn-outline-secondary btn-lg">Visit Shop</button>
        </a>
      </div>
    </div>
  </section>


{% endblock %}