{% extends 'base.html' %}

{% load static %}

{% block content %}

<div class="container">
    <div class="row">
      <!-- Latest Posts -->
      <main class="post blog-post col-lg-8"> 
        <div class="container">
          <!-- Alerts -->
            {% include 'partials/_alerts.html' %}
              <br/>
          <div class="post-single">
            <div class="post-thumbnail"><img src="{{ blogpost.photo_main.url }}" alt="..." class="img-fluid"></div>
            <div class="post-details">
              
              <h1>{{ blogpost.title }}<a href="#"></a></h1>
              <div class="post-footer d-flex align-items-center flex-column flex-sm-row">
                <div class="d-flex align-items-center flex-wrap">       
                  <div class="date"><i class="icon-clock"></i> {{ blogpost.list_date }}</div>
                  <div class="views"><i class="icon-eye"></i>{{ blogpost.read_time }}</div>
                  {% with comments.count as total_comments %}
                  <div class="comments meta-last"><i class="icon-comment"></i>{{ total_comments }}</div>
                  {% endwith %}
                </div>
              </div>
              <div class="post-body">
                <p class>{{blogpost.article|linebreaks|safe}}</p>
                <blockquote class="blockquote">
                  <footer class="blockquote-footer">
                    <cite title="Source Title">{{ blogpost.highlight_text }}</cite>
                  </footer>
                </blockquote>
              </div>
              <div class="post-tags"><a href="#" class="tag">#{{ blogpost.category }}</a></div>

              

              <!-- Comments -->    
              <div class="post-comments">
                {% with comments.count as total_comments %}
                <header>
                  <h3 class="h6">{{ total_comments }} Post Comment{{ total_comments|pluralize }}<span class="no-of-comments">
                  </span></h3>
                </header>
                {% endwith %}
                {% for comment in comments %}
                  <div class="comment">
                    <div class="comment-header d-flex justify-content-between">
                      <div class="user d-flex align-items-center">
                        <div class="image"><img src="{% static 'img/user.svg' %}" alt="..." class="img-fluid rounded-circle"></div>
                        <div class="title"><strong>{{ comment.name}}</strong><span class="date">{{ comment.publish }}</span></div>
                      </div>
                    </div>
                    <div class="comment-body">
                      <p>{{ comment.comment|linebreaks}}</p>
                    </div>
                  </div>
                {% empty %}
                <p> There are no comments for this post</p>
                {% endfor %} 
              </div>
              <!-- Add a comment -->
              <div class="add-comment">
                <header>
                  <h3 class="h6">Leave a reply</h3>
                </header>
                <form action="#" method="post" class="commenting-form">
                  {% csrf_token %}
                  <div class="row">
                    
                    {{ comment_form.as_p }}

                    <div class="form-group col-md-12">
                      <button type="submit" class="btn btn-secondary">Submit Comment</button>
                    </div>
                  </div>
                </form>
              </div>

              
            </div>
          </div>
        </div>
      </main>
      <aside class="col-lg-4">
        <!-- Widget [Search Bar Widget]-->
        <div class="widget search">
          <header>
            <h3 class="h6">Search the blog</h3>
          </header>
          <form action="#" class="search-form">
            <div class="form-group">
              <input type="search" placeholder="What are you looking for?">
              <button type="submit" class="submit"><i class="icon-search"></i></button>
            </div>
          </form>
        </div>
        <!-- Widget [Latest Posts Widget]        -->
        <div class="widget latest-posts">
          <header>
            <h3 class="h6">Latest Posts</h3>
          </header>
          {% if blog2 %}
            {% for blogpost in blog2 %}
              <div class="blog-posts"><a href="{% url 'blogpost' blogpost.id %}">
                  <div class="item d-flex align-items-center">
                    <div class="image"><img src="{{ blogpost.photo_main.url }}" alt="..." class="img-fluid"></div>
                    <div class="title"><strong>{{ blogpost.title }}</strong>
                    </div>
                  </div></a>
              </div>
            {% endfor %}
          {% endif %}
          
        </div>
        
        <div class="widget tags">       
          <header>
            <h3 class="h6">Tags</h3>
          </header>
          <ul class="list-inline">
            <li class="list-inline-item"><a href="#" class="tag">#HEALTH</a></li>
            <li class="list-inline-item"><a href="#" class="tag">#LIFESTYLE</a></li>
            <li class="list-inline-item"><a href="#" class="tag">#FITNESS</a></li>
            <li class="list-inline-item"><a href="#" class="tag">#WORKOUTS</a></li>
          </ul>
        </div>
      </aside>
    </div>
  </div>

{% endblock %}